body{
    overflow-x: hidden;
    margin: 0;
    font-family: "century gothic","trebuchet ms","franklin gothic",sans-serif
}
.head{
    width: 100%;
    height: 710px;
    text-align: center;
    text-shadow: 0 0 2px #abc
}
.rat{
    position: fixed;
    right: -32em;
    top: 12em;
    transform: rotate(-9deg);
    width: 900px;
    z-index: 9;
    image-rendering: pixelated;
    transition: all 0.5s ease
}
.stankin{
    width: 9em;
    position: relative;
    right: 1em;
    bottom: -1em
}
.hid{
    right: -200%!important;
    top: 40em!important
}
.rat:hover{
    transform: rotate(-3deg)
}
.active{
    color: #002!important;
    margin: 1em 9px!important;
    font-weight: 900;
    box-shadow: none!important
}
.filler{
    height: 150px;
}
.head p{
    font-size: 7px;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 2em
}
h2{
    text-align: center;
}
h2,h4{
    text-shadow: 0 0 2px #aaf;
    text-align: center
}
.reviews{
    text-align: center
}
.rev{
    display: inline-block;
    font-weight: 900;
    margin: 9px
}
.rev *{
    display: inline-block;
    padding: 9px
}
.rev:before {
    content: open-quote;
    font-size: 3em;
    text-align: center;
    color: #ddf;
    position: relative
}
.rev:after {
    content: close-quote;
    font-size: 3em;
    text-align: center;
    color: #ddf;
    position: relative
}
.rev-user{
    font-weight: 100;
    font-size: 12px;
    font-style: italic
}
.pic-1{
    width: 13em;
    float: left;
    border-bottom: 1px solid #88a;
    border-radius: 9%
}
.pic-2{
    width: 11em;
    float: right;
    position: relative;
    bottom: 81px
}
.pic-3{
    display: inline-block;
    width: 16em
}
.techno{
    text-align: right;
    max-width: 640px;
    font-size: 0.8em;
    display: inline-block
}
.team{
    text-align: center
}
.mem{
    display: inline-block;
    margin: 9px
}
.mem img{
    width: 99px;
    position: relative;
    bottom: 0;
    transition: all 0.5s ease
}
.mem img:hover{
    bottom: 9px;
    transform: scale(1.1);
}
.mem div{
    font-weight: 900;
    text-shadow: 0 0 2px #aaf
}
.mem ul{
    font-style: italic;
    max-width: 9em;
    font-size: 10px;
    text-align: left;
    margin: 0;
    padding: 0 0 0 2em
}
.nav{
    width: 200px;
    float: left;
    margin-top: 9em;
    color: #aab;
    text-align: right;
    position: fixed;
    transform: skewX(-4deg);
    opacity: 0.8
}
.nav a{
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    margin: 9px 0;
    font-style: normal;
    box-shadow: 0 0 1px;
    padding: 0 5px 2px;
    vertical-align: middle;
    color: inherit;
    transition: all 2s ease
}
.block:nth-child(odd){
    background: #779;
    padding: 1em;
    color: #fff;
    box-shadow: 0 0 9px #000;
    margin: 5em 0
}
.lab{
    position: relative;
    left: 234px;
    padding: 0 234px 0 0;
    max-width: 1080px;
    min-width: 320px;
    box-sizing: border-box;
    margin: 0 auto
}
.func{
    text-align: center;
    margin: 2em 0
}
.lab strike{
    color:#000
}
.image{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    display: inline-block
}
.image img{
    max-width: 100%;
    box-shadow: 0 0 1px #fff;
    border-radius: 9px;
    padding: 9px;
    background: #557
}
.pointerl,.pointerr{
    width: 9%;
    position: relative;
    top: 4em
}
.pointerl{
    float: left;
    right: 1em
}
.pointerr{
    float: right;
    left: 2em
}
.tech{
    text-align: center
}
.tech img{
    height: 6em;
    margin: 1em
}
.block:nth-child(even) .image img{
    box-shadow: 0 0 1px #000;
    background: #fff
}
hr{
    border-radius: 50%;
    padding: 1px;
    margin-bottom: 2em
}
.block:nth-child(7){
    margin: 0
}
.footer {
    width: 100%;
    position: absolute;
    background: linear-gradient(0deg,#030303 20%,#17171c);
    text-align: center;
    color: #fff;
    font-size: 10px
}
.footer h4{
    border-bottom: 3px solid #9d0c1e;
    color: #9d0c1e;
    transition: .2s;
    display: inline-block;
    text-shadow: none;
    font-size: 16px
}

@media (min-width: 1440px) {
    .nav{
        width: 400px
    }
}
@media (max-width: 880px) {
    .nav{
        display: none
    }
    .lab{
        left: 0;
        padding: 0
    }
    .image{
        width: 100%
    }
    .image img{
        padding: 1px
    }
    body{
        font-size: 12px
    }
    .block{
        padding: 9px!important
    }
    .head h4{
        font-size: 11px;
        padding: 0 2em
    }
    .rat{
        width: 600px;
        top: 22em
    }
    .filler{
        height: 240px
    }
    .pic-2{
        bottom: 31px;
        width: 9em
    }
    .pointerl,.pointerr{
        display: none
    }
}
